.uploaded_post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 1rem;
}
.uploaded_post p {
  margin: 1rem 0;
}
.post_creater {
  font-size: larger;
  font-weight: bolder;
}
.other_option {
  width: 22%;
  display: flex;
  justify-content: space-between;
}
